<div class="row">
    <div class="col-xs-12 col-sm-6">
        <p class="footer-heading">{{ site.title | escape }}</p>
        {% if site.author %}
            <p>
                {{ site.author | escape }}
            </p>
        {% else %}
            <p>
                {{ site.author | escape }}
            </p>
        {% endif %}
        {% if site.email %}
            <a href="mailto:{{ site.email }}"><p>
                {{ site.email }}
            </p></a>
        {% endif %}
        {% if site.github_username %}
            <p>
              {% include icon-github.html username=site.github_username %}
            </p>
        {% endif %}
        {% if site.twitter_username %}
            <p>
              {% include icon-twitter.html username=site.twitter_username %}
            </p>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-6">
        <p class="footer-heading">About</p>
        <p>{{ site.description | escape }}</p>
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </div>
</div>
