<nav class="navbar">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hr-navbar-collapser" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars nav-burger"></i>
        </button>
        <a class="navbar-brand navbar-left" href="{{ "/" | relative_url}}">HOUSE <i class="fa fa-h-square"></i> RULES </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="hr-navbar-collapser">
         <ul class="nav navbar-nav navbar-right">
            {% for my_page in site.pages %}
                {% if my_page.title and my_page.title != 'CONFERENCES' %}
                    {% assign activeText = "" %}
                    {% if page.shortName == my_page.shortName %}
                        {% capture activeText %}
                        {{activeText}}active
                        {% endcapture %}
                    {% endif %}
                    <li>
                        <a class="nav-link {{ activeText }}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
