<head>
    <!--
    /*
    *   ORTONOMY.CO
    *   Gregory Orton
    *   September 2017
    *   Github: @ortonomy, Twitter: @ortonomy_
    *
    */
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta property="og:image" content="{{ "/assets/images/preview.png" | relative_url }}" />

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <!-- vendor css files -->
    <link rel="stylesheet" href="{{ "/assets/css/vendor/font-awesome/font-awesome.min.css" | relative_url }}" />
    <link rel="stylesheet" href="{{ "/assets/css/vendor/aos/aos.css" | relative_url }}" />
    <link rel="stylesheet" href=" {{ "/assets/css/vendor/normalize-css/normalize.css" | relative_url }}" />
    <!-- end vendor css -->

    <!-- app css -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <!-- end app css -->

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
</head>
