<div class="mobile-navigation">
  <span class="mob-nav-text">NAV</span>
  <div class="mob-nav-group">
    <div class="mob-nav-item"><a href="#about" class="mob-nav-item-a"><span>About</span></a></div>
    <div class="mob-nav-item"><a href="#portfolio" class="mob-nav-item-a"><span>Portfolio</span></a></div>
    <div class="mob-nav-item"><a href="#experience" class="mob-nav-item-a"><span>Experience</span></a></div>
    <div class="mob-nav-item"><a href="https://medium.com/@ortonomy" target="_blank" class="mob-nav-item-a"><span>Blog</span></a></div>
  </div>
</div>