<div class="portfolio-image-container_2by3">
  <div class="portfolio-image_2by3">
    <a href="{{ include.src1}}" data-desc="{{include.alt1}}">
      <img class="portfolio-real-image_2by3" alt="{{ include.alt1 }}" src="{{ include.src1 }}" />
    </a>
  </div>

  <div class="portfolio-image_2by3"> 
    <a href="{{ include.src2 }}" data-desc="{{include.alt2}}">
      <img class="portfolio-real-image_2by3" alt="{{ include.alt2 }}" src="{{ include.src2 }}" />
    </a>
  </div>

  <div class="portfolio-image_2by3"> 
    <a href="{{ include.src3 }}" data-desc="{{include.alt3}}">
      <img class="portfolio-real-image_2by3" alt="{{ include.alt3 }}" src="{{ include.src3 }}" />
    </a>
  </div>

  <div class="portfolio-image_2by3"> 
    <a href="{{ include.src4 }}" data-desc="{{include.alt4}}">
      <img class="portfolio-real-image_2by3" alt="{{ include.alt4 }}" src="{{ include.src4 }}" />
    </a>
  </div>

  <div class="portfolio-image_2by3"> 
    <a href="{{ include.src5 }}" data-desc="{{include.alt5}}">
      <img class="portfolio-real-image_2by3" alt="{{ include.alt5 }}" src="{{ include.src5 }}" />
    </a>
  </div>

  <div class="portfolio-image_2by3"> 
    <a href="{{ include.src6 }}" data-desc="{{include.alt6}}">
      <img class="portfolio-real-image_2by3" alt="{{ include.alt6 }}" src="{{ include.src6 }}" />
    </a>
  </div>

  <div class="portfolio-image_2by3"> 
    <a href="{{ include.src7 }}" data-desc="{{include.alt7}}">
      <img class="portfolio-real-image_2by3" alt="{{ include.alt7 }}" src="{{ include.src7 }}" />
    </a>
  </div>

  <div class="portfolio-image_2by3"> 
    <a href="{{ include.src8 }}" data-desc="{{include.alt8}}">
      <img class="portfolio-real-image_2by3" alt="{{ include.alt8 }}" src="{{ include.src8 }}" />
    </a>
  </div>

  <div class="portfolio-image_2by3"> 
    <a href="{{ include.src9 }}" data-desc="{{include.alt9}}">
      <img class="portfolio-real-image_2by3" alt="{{ include.alt9 }}" src="{{ include.src9 }}" />
    </a>
  </div>
</div>