<div class="portfolio-image-container">
  <div class="portfolio-image">
    <img class="portfolio-real-image" alt="{{ include.alt1 }}" src="{{ include.src1 }}" data-aos="flip-down" data-aos-easing="ease-in-out-quart" data-aos-once="false" data-aos-delay="{{ include.delay }}" />
    <div class="portfolio-image-popout"></div>
  </div>
  <div class="portfolio-image">
    <img class="portfolio-real-image" alt="{{ include.alt2 }}" src="{{ include.src2 }}" data-aos="flip-down" data-aos-easing="ease-in-out-quart" data-aos-once="false" data-aos-delay="{{ include.delay }}" />
    <div class="portfolio-image-popout"></div>
  </div>
</div>