<div class="portfolio-image-container_2by3">
  <div class="portfolio-image_2by3">
    <a href="{{ include.src1}}" data-desc="{{include.alt1}}">
      <img class="portfolio-real-image_2by3" alt="{{ include.alt1 }}" src="{{ include.src1 }}" />
    </a>
    
  </div>

  <div class="portfolio-image_2by3"> 
    <a href="{{ include.src2 }}" data-desc="{{include.alt2}}">
      <img class="portfolio-real-image_2by3" alt="{{ include.alt2 }}" src="{{ include.src2 }}" />
    </a>
    
  </div>

  <div class="portfolio-image_2by3"> 
    <a href="{{ include.src3 }}" data-desc="{{include.alt3}}">
      <img class="portfolio-real-image_2by3" alt="{{ include.alt3 }}" src="{{ include.src3 }}" />
    </a>
    
  </div>

  
</div>