<!-- uses _MainNavigation SCSS partial for styles -->
<aside class="sidebar no-mobile">
    <div class="sidebar-content">
        <div class="logo-wrapper">
            <img src="{{ page.logo | relative_url }}">
        </div>
        <div class="sidebar-titles">
            <!-- <h1 class="sidebar-title">- Gregory J. Orton -</h1> -->
            <h2 class="sidebar-subtitle"><span>product</span><span> | </span><span>design</span> <span> | </span><span>front-end dev</span></h2>
        </div>
        <nav class="sidebar-nav">
            <ul>
                <a href="#"><li data-key="1" class="active">About</li></a>
                <a href="#"><li data-key="2">Portfolio</li></a>
                <a href="https://medium.com/@ortonomy" target="_blank"><li data-key="3">Blog</li></a>
                <div class="active-marker"></div>
            </ul>
        </nav>
    </div>
    <div class="sidebar-footer">
        <div class="contact-links-wrapper">
            <a href="https://github.com/ortonomy" target="_blank" class="contact-link"><p class="contact-link-container"><i class="fa fa-github contact-icon"></i><span>ortonomy</span></p></a>
            <a href="https://twitter.com/ortonomy_" target="_blank" class="contact-link"><p class="contact-link-container"><i class="fa fa-twitter contact-icon"></i><span>@ortonomy_</span></p></a>
            <a href="https://www.linkedin.com/in/gregoryjorton/" target="_blank" class="contact-link"><p class="contact-link-container"><i class="fa fa-linkedin contact-icon"></i><span>gregoryjorton</span></p></a>
        </div>
        <img class="contact-avatar" src="{{ page.avatar | relative_url }}">
    </div>
</aside>