// Colours: define all the colours

$background-primary: rgba(17, 17, 17, 1);
$shadow-primary: rgba(101, 101, 101, .5);
$text-primary: rgba(17, 17, 17, 1);
$text-secondary: #eee;
$text-link: rgba(74, 144, 226, 1); //4a90e2
$text-link-highlight: rgba(74, 144, 226, .5); //4a90e2
$highlight-secondary: rgba(28, 28, 28, 1);
$background-pure: rgba(255, 255, 255, 1);
$bacground-secondary: rgba(238, 238, 238, .3);
