/*
*
*   ORTONOMY.CO:
*   We use the 'Proxima Nova' font for titles and buttons
*   We use the 'Adelle Slabs' font for our body text and any other fields
*   We use the 'Inconsolata' font from Google for any monospace or preformatted text
*
*/

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$font-path}/proxima-nova/Proxima Nova Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$font-path}/proxima-nova/Proxima Nova Regular Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$font-path}/proxima-nova/Proxima Nova Extrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$font-path}/proxima-nova/Proxima Nova Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Adelle';
  src: url('#{$font-path}/adelle/Adelle_Reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adelle';
  src: url('#{$font-path}/adelle/Adelle_Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Adelle';
  src: url('#{$font-path}/adelle/Adelle_ExtraBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Adelle';
  src: url('#{$font-path}/adelle/Adelle_light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}


