/* 
* _MainNavigation: define styles for site navigation
*/

.sidebar {
  background-color: $background-primary;
  // box-shadow: .1em 0 0 0 $shadow-primary;
  color: $text-secondary;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 25%;
  z-index: 2;

  @include mobile {
    display: none;
  }

  .sidebar-content {
    flex: 1 0 auto;
  }

  .logo-wrapper {
    padding: 2em 3em .5em;
    text-align: center;

    img {
      fill: $text-secondary;
      width: 100%;
    }
  }

  .sidebar-footer {
    bottom: 0;
    position: relative;
    width: 100%;

    .contact-links-wrapper {
      color: $text-secondary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1em 2em 0;
      width: 100%;
    }

    .contact-icon {
      font-size: 2em;
      padding: 0 .5em 0 0;
    }

    .contact-link {
      color: $text-link;
      outline: none;
      text-decoration: none;
    }

    .contact-link-container {
      align-items: center;
      display: flex;
    }

    .contact-avatar {
      bottom: 0;
      max-width: 50%;
      min-height: 100%;
      position: absolute;
      right: 0;
    }

    .spacer {
      height: 100%;
    }
  }

  .sidebar-titles {
    color: $text-secondary;
    padding: 0 2.4em;
    position: relative;
    text-align: center;

    .sidebar-subtitle {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .sidebar-nav {
    font-family: $title-text-sans;
    font-size: $text-size-large;
    font-weight: normal;
    position: relative;
    text-transform: uppercase;

    a {
      color: $text-secondary;
      outline: none;
      text-decoration: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
    }

    li {
      padding: 1em;
    }

    .active {
      background-color: $highlight-secondary;
    }

    .active-marker {
      background-color: $text-link;
      content: '';
      height: 3.2em;
      position: absolute;
      right: 0;
      top: 0;
      width: .5em;
    }

  }
}
