/* 
* _MainNavigation: define styles for site navigation
*/

.sidebar {
  background-color: $background-primary;
  // box-shadow: .1em 0 0 0 $shadow-primary;
  color: $text-secondary;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 25%;
  z-index: 2;

  @include mobile {
    display: none;
  }

  .sidebar-content {
    flex: 1 0 auto;
  }

  .logo-wrapper {
    padding: 2em 3em .5em;
    text-align: center;

    img {
      fill: $text-secondary;
      width: 100%;
    }
  }

  .sidebar-footer {
    bottom: 0;
    position: relative;
    width: 100%;

    .contact-links-wrapper {
      color: $text-secondary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1em 2em 0;
      width: 100%;
    }

    .contact-icon {
      font-size: 2em;
      padding: 0 .5em 0 0;
    }

    .contact-link {
      color: $text-link;
      outline: none;
      text-decoration: none;
    }

    .contact-link-container {
      align-items: center;
      display: flex;
    }

    .contact-avatar {
      bottom: 0;
      max-width: 50%;
      min-height: 100%;
      position: absolute;
      right: 0;
    }

    .spacer {
      height: 100%;
    }
  }

  .sidebar-titles {
    color: $text-secondary;
    padding: 0 2.4em;
    position: relative;
    text-align: center;

    .sidebar-subtitle {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .sidebar-nav {
    font-family: $title-text-sans;
    font-size: $text-size-large;
    font-weight: normal;
    position: relative;
    text-transform: uppercase;

    a {
      color: $text-secondary;
      outline: none;
      text-decoration: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
    }

    li {
      padding: 1em;
    }

    .active {
      background-color: $highlight-secondary;
    }

    .active-marker {
      background-color: $text-link;
      content: '';
      height: 3.2em;
      position: absolute;
      right: 0;
      top: 0;
      width: .5em;
    }

  }
}

.mobile-navigation {
  position: fixed;
  display: none;
  width: 4.8rem;
  height: 4.8rem;
  background: $text-primary;
  border-radius: 50%;
  z-index: 100;
  @include shadow(2, $text-primary);
  border: .1rem solid $text-secondary;

  @include mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 4rem;
    bottom: 5rem;
  }

  & .mob-nav-text {
    display: none;
    transition: all .2s ease-in;
  }

  &::before, &::after {
    transition: all .2s ease-in-out;
    content: '';
    width: .2rem;
    height: 1.5rem;
    background-color: $text-secondary;
    position: absolute;
    z-index: 101;
  }

  &::after {
    transform: rotate(90deg);
  }

  .mob-nav-group {
    display: none;
    transition: all .2s ease-in;
    position: absolute;
    top: calc(3.5 * -4.8rem);
    right: -3.5rem;

    .mob-nav-item {
      transition: all .2s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: stretch;
      width: 16rem;
      height: 3rem;
      background-color: $text-primary;
      color: $text-secondary;
      font-family: $title-text-sans;
      margin: .3rem 0;
      @include shadow(4, $text-primary);
      z-index: 100;
      border: .1rem solid $text-secondary;
      transform: rotate(-1deg);

      a {
        flex: 1 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $text-secondary;
        

        span {
          text-align: center;
          flex: 1 100%;
          font-size: $text-size-large;
          text-transform: uppercase;
          transform: rotate(1deg);
        }
      }
    }
  }

  &.open {
    @include shadow(4, $text-primary);

    & .mob-nav-text {
      display: block;
      color: $text-secondary;
      text-transform: uppercase;
      font-family: $title-text-sans;
      font-size: $text-size-small;
    }

    &::before, &::after {
      content: '';
      width: .2rem;
      height: 2.2rem;
      background-color: $text-secondary;
      position: absolute;
      z-index: 101;
      transform: rotate(90deg);
    }

    &::before {
      top: .5rem;
    }

    &::after {
      bottom: .5rem;
    }

    .mob-nav-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
  }

  

  // @for $var from <start> through <end>
}
