// base variables
$title-text-sans: 'Proxima Nova', Helvetica, Arial, sans-serif;
$body-text-serif: Adelle, Georgia, serif;
$special-text-mono: Inconsolata, Menlo, Monaco, Consolas, "Courier New", monospace;
$text-size-small: 1.2em;
$text-size-normal: 1.6em;
$text-size-large: 2.4em;
$text-weight-light: 100;
$text-weight-normal: 400;
$text-weight-heavy: 700; // bold
$text-line-height-small: 1.2em;
$text-line-height-normal: 1.6em;
$text-line-height-large: 2.4em;


// variables for font-paths
$font-path: '../fonts/';

