article.container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  
  section.row.divider, section.row.entry {
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
    clear: both;

    @include mobile {
      flex-direction: column;
      justify-content: flex-start;
    }

    &.right {
      @include mobile {
        flex-direction: column-reverse;
        justify-content: flex-start;
      }
    }
    
    .center {
      width: .2rem;
      margin-left: .9rem;
      margin-right: .9rem;
      background-color: #000;

      @include mobile {
        display: none;
      }
    }
    
    .center.line {
      display: flex;
      justify-content: center;
      align-items: center;
      
      .entry-icon {
        color: #000;
        font-size: 4em;
        z-index: 2;
        background-color: #FFF;
        padding: .85rem 1rem;
      }

      @include mobile {
        display: none;
      }
    }
    
    &.icon {
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFF;
        color: #000;
        font-size: 2em;
        padding: .85rem 1rem;
      }
    }
    
    .left.details, .right.details {
      flex: 1 40%;
      padding: 0 2rem 2rem;
      margin: 2rem 1rem;
      position: relative;

      @include mobile {
        margin-top: 0;
        padding: 0 0 2rem;
      }
      
      p {
        margin: 1.5rem 0 0;
        z-index: 2;
        position: relative;
        padding: 2rem 1rem;

        @include mobile {
          margin: 0;
        }
      }

      p::after {
        content: '';
        left: 0;
        top: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $text-link-highlight;
        z-index: -1;
        transform: rotate(-1deg);
        box-shadow: 0 0 1em -.3em $text-link;
      }
    }
    
    .left.role, .right.role {
      flex: 1 40%;
      padding: 2rem;
      margin: 2rem 1rem;

      @include mobile {
        margin-bottom: 0;
        padding: 2rem 0rem;
      }
      
      h1, h2, h3, p {
        margin: 0;
        padding: 0;
        text-align: left;
      }

      h1 {
        font-size: 3.8em;
        letter-spacing: .1em;
        text-transform: uppercase;

        @include mobile {
          &.title {
            font-size: 2.4em;
          }
        }
      }

      h2 {
        font-size: 2.4em;
      }

      h3 {
        margin-top: .4em;
      }

      h3, p {
        font-size: 2em; 
      }


    }
  }
}