/* 
* main.scss
*/

// import all sass files for setup
@import 'partials/Variables';
@import 'partials/Mixins';
@import 'partials/Colours';
@import 'partials/Fonts';


// set root element
:root {
  font-family: $body-text-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $title-text-sans;
}

h1 {
  font-size: $text-size-large;
  font-weight: bold;
}

p {
  font-family: $body-text-serif;
  font-size: $text-size-normal;
}

// other app styles
@import 'partials/MainNavigation';
@import 'partials/MainContent';
@import 'partials/VisualResume';



