h2.content-title Experience & Education
.content-title-sub
  span.content-title-decorator
  i.fa.fa-briefcase
  span.content-title-decorator
p #[strong All these things that I've done] - a visual history of my work experience and time spent gaining valuable skills

template#divider
  section.row.divider
    .left
    .center
    .right
  

template#divider-icon
  section.row.divider.icon
    .left
    .center
    .right

template#entry-start-left
  section.row.entry.left
    .left.role 
      h1.title 
      h2.company
      h3.location
      p.date
    .center.line
    .right.details
      p.description

template#entry-start-right
  section.row.entry.right
    .left.details 
      p.description
    .center.line
    .right.role
      h1.title 
      h2.company
      h3.location
      p.date

article.container

script(src="assets/scripts/visual_resume.js")